/* Доминирующие цвета */
/*  primary */
/*  secondary */

/* Цвета для поверхностей */
/*  background */
/*  surface */

/* Для текста */
/*  on-primary */
/*  on-secondary */
/*  on-background */
/*  on-surface */

:root {
    --evg-color-primery: #dae2ea;
    --evg-color-secondary: #edeef0;
    --evg-color-background: #ffffff;
    --evg-color-surface: #ffffff;
    --evg-color-on-surface: #9e9e9e;
    --evg-color-on-surface-text-input: #1f1f1f; 
    --evg-border-radius: 6px;
    --evg-text-link: #5b7ea1;
}
body[scheme='dark'] {
    --evg-color-primery: #696969;
    --evg-color-secondary: #383838;
    --evg-color-surface: #2b2b2b;
    --evg-color-background: #121212;
    --evg-color-on-surface-text-input: #a3a3a3; 
    --evg-text-link: #a3a3a3;
}
body[scheme='dark'] a {
    text-decoration: underline;
}